/*Estilos da lista de alunos*/

.cadastro-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    overflow: hidden;
}

.cadastro-cabecalho {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
    background-color: #f9fafb;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    font-family: sans-serif;
}

.cadastro-form {
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,50%), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.form-grupo{
    padding: 3px;
}

.btn-cadastro {
    margin-top: 1rem;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
}
.btn-cadastro:hover{
    color:yellow;
}